h1 {
    font-size: 39.9px;
    margin: 0;
    font-weight: 700;
    letter-spacing: -0.03em;
}

h2 {
    font-size: 154px;
    margin: 0;
    font-weight: 700;
}

h3 {
    font-size: 16.8px;
    margin: 0;
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: 0.8;
}

p {
    font-size: 6px;
    margin: 0;
    font-weight: 400;
}